<div class="container mt-5">
    <h1>Perfil de Usuario</h1>
    <p class="lead">Nombre: {{user.user.first_name}}</p>
    <p class="lead">Apellido: {{user.user.last_name}}</p>
    <p class="lead">Email: {{user.user.email}}</p>
    <p class="lead">Edad: {{user.user.age}}</p>

    <button id="logoutButton" class="btn btn-danger">Logout</button>
</div>
